<section class="highlight">
    <h2>Welcome to CSE Motors!</h2>
    <div class="highlight-text">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img class="highlight-text-button" src="images/site/own_today.png" alt="Button that says own today.">
    </div>
    <img class="highlight-image" src="images/vehicles/delorean.jpg" alt="Image of the delorean car.">
</section>

<section class="home-response-view">
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4/5)</li>
            <li>"80's livin and love it!" (5/5)</li>
        </ul>
    </section>
    
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
            <div>
                <img src="images/upgrades/flux-cap.png" alt="Flux capacitor picture.">
                <a href="">Flux Capacitor</a>
            </div>
            <div>
                <img src="images/upgrades/flame.jpg" alt="Flame symbol picture.">
                <a href="">Flame Decals</a>
            </div>
            <div>
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper sticker picture.">
                <a href="">Bumper Stickers</a>
            </div>
            <div>
                <img src="images/upgrades/hub-cap.jpg" alt="Hub cap picture.">
                <a href="">Hub Caps</a>
            </div>
    </section>
</section>