<!-- Content Heading -->
<h1>
    <%= title %>
</h1>

<!-- Flash Message -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
    <% }) %>
    </ul>
<% } %>

<section class="management">
    <p>Click <a href="/inv/add-classification">here</a> to add a new classification.</p>
    <p>Click <a href="/inv/add-inventory">here</a> to add a new inventory item.</p>
    <h2>Manage Inventory</h2>
    <p>Please select a classification from the list below to see the items from that classification.</p>
    <%- selectClassification %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</section>

<script src="../../js/inventory.js"></script>